.killing-commendatore-world[data-v-c52c63ae]{width:100%;height:100vh;position:relative;overflow:hidden;background:#fff}.killing-commendatore-world canvas[data-v-c52c63ae]{display:block;width:100%;height:100%}
